@use '../util' as u;

.header {
    width: 80%;
    height: u.rem(70);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: space-between;
    align-items: center;

    @include u.breakpoint-down(large) {
        width: 95%;
    }
    @include u.breakpoint-down(small) {
        height: auto;
        grid-template-columns: 3fr 1fr 1fr;
        grid-template-rows: 1fr .5fr;
    }

    .dark-mode {
        display: flex;
       
        i {
            transform: scale(.8);
            padding: u.rem(10);
            border-radius: 50%;
            color: var(--gray);
            cursor: pointer;

            @include u.breakpoint-down(medium) {
                transform: scale(.5);
            }
        }

        i.active {
            border: 3px solid var(--pink);
        }
    }

    .logo-container {

        @include u.breakpoint-down(small) {
            transform: scale(.8);
        }
        
        .logo {
            font-size: u.rem(40);
            font-weight: 900;
            color: var(--text-color);
            position: relative;
        }

        .logo::before {
            content: 'Y';
            font-size: u.rem(55);
                background: -webkit-linear-gradient(rgb(198, 76, 180), rgb(27, 194, 220), );
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
        }
    }

    .hamburger-menu {
        justify-self: center;
        display: none;
        width: u.rem(40);
        cursor: pointer;
        padding: u.rem(5);
        border: 1px solid var(--light-gray);
        border-radius: 50%;

        @include u.breakpoint-down(small) {
            display: block;
        }

        .bar {
            display: block;
            width: u.rem(19);
            height: u.rem(1);
            margin: u.rem(6) auto;
            -webkit-transition: all .3s ease-in-out; 
            transition: all .3s ease-in-out; 
            background-color: var(--gray);
        }

    }
    .hamburger-active {
        .bar:nth-child(2) {
            opacity: 0;
        }
        .bar:nth-child(1) {
            transform: translateY(7px) rotate(45deg);
        }
        .bar:nth-child(3) {
            transform: translateY(-7px) rotate(-45deg);
        }
    }
   

    .input-container {
        flex-basis: 40%;
        height: u.rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--searchbar);
        border-radius: u.rem(50);

        @include u.breakpoint-down(small) {
            grid-column: 1 / 3;
        }

        .searchbar {
            flex: 1;
            padding: u.rem(10) u.rem(20);

            input {
                border: none;
                width: 100%;
            }
            input:focus {
                outline: none;
            }

            input::-webkit-search-cancel-button{
                 -webkit-appearance: none;
            }  
        }

        // JS SEARCHBAR

        .item-info-container {
            position: absolute;
            top: u.rem(60);
            background: var(--background-color);
            z-index: 5;
            border: 1px solid black;
            border-radius: u.rem(12);

            .item-info-card {
                padding: u.rem(10);
                cursor: pointer;
                
                a {
                    color: var(--text-color);
                }
                a:hover {
                    border-bottom: 1px solid var(--gray);
                }
            }
        }
        
        .searchbar-right-content {
            display: flex;
            align-items: center;
            height: 100%;

            @include u.breakpoint-down(medium) {
                display: none;
            }

            .search-bar-line {
                width: .5px;
                height: 60%;
                background-color: var(--light-gray);
                margin-right: u.rem(16);
            }
    
            .where {
                display: flex;
                align-items: center;
                padding-right: u.rem(16);
                margin-right: u.rem(10);
                cursor: pointer;
    
                i {
                    padding-left: u.rem(10);
                }
            }
    
            .btn {
                height: 100%;
                padding: 0 u.rem(25);
                border-radius: 50px;
    
                i {
                    transform: scale(1.3);
                }
            }
        }
    }

    .header-items {
        display: flex;

        @include u.breakpoint-down(small) {
            grid-column: 3 / 4;
        }

        li {
            position: relative;

            a.first-menu-item {
                border-right: 1px solid var(--light-gray);

                @include u.breakpoint-down(large) {
                    display: none;
                }
            }

            a {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0 u.rem(25) ;

                @include u.breakpoint-down(small) {
                    transform: scale(.8);
                }

                i {
                    color: var(--gray);
                    transform: scale(.7);
                }

                p {
                    color: var(--text-color-black);
                    font-size: u.rem(13);
                    text-align: center;
                    white-space: nowrap;
                }
            }

            .display-none-small {
                @include u.breakpoint-down(small) {
                    display: none;
                }
            }

            .cart::after {
                content: var(--content, '');
                position: absolute;
                right: u.rem(25);
                top: u.rem(-3);
                width: u.rem(20);
                height: u.rem(20);
                background-color: var(--blue);
                color: var(--background-color);
                border-radius: u.rem(25);
                border: 2px solid var(--background-color);
                font-size: u.rem(12);
                font-weight: 700;
                text-align: center;
                visibility: var(--visible, hidden);
            }
        }
    }
}