@use '../util' as u;

.ostatnio-ogladane {
    margin-top: u.rem(20);
    width: 80%;
    margin-inline: auto;
    
    @include u.breakpoint-down(large) {
        width: 95%;
    }

    .headline {
        margin-bottom: u.rem(20);
    }

    .ostatnio-ogladane-grid {
        display: grid;
        gap: u.rem(20);
        grid-template-columns: repeat(6, 1fr);

        @include u.breakpoint-down(medium) {
            grid-template-columns: repeat(3, 1fr);
        }
        @include u.breakpoint-down(small) {
            grid-template-columns: 1fr;
            gap: u.rem(5);
        }

        .item-cart {
            display: flex;
            flex-direction: column;
            padding: u.rem(20);

            .cart-info {
                display: flex;

                .cart-info-text {
                    margin-left: u.rem(5);
                    padding: u.rem(3) u.rem(10);
                    border-radius: u.rem(20);
                    border: 1px solid var(--light-gray);
                    font-size: u.rem(11);
                }
            }

            .cart-img {
                height: 100px;
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }

            .ct1 {
                background-image: url(/images/section-6/1.webp);
            }
            .ct2 {
                background-image: url(/images/section-6/2.webp);
            }
            .ct3 {
                background-image: url(/images/section-4/2.webp);
            }
            .ct4 {
                background-image: url(/images/section-4/3.webp);
            }
            .ct7 {
                background-image: url(/images/section-1/8.webp);
            }
            .ct8 {
                background-image: url(/images/section-1/9.webp);
            }

            p {
                font-size: u.rem(14);
                padding: u.rem(5) 0;
            }
        }

        .item-cart:hover {
            -webkit-box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
            -moz-box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
            box-shadow: 0px 0px 10px -6px rgba(66, 68, 90, 1);
            border-radius: u.rem(12);

        }
    }
}