@use '../util' as u;

.poradniki {
    margin-top: u.rem(40);
    width: 80%;
    margin-inline: auto;

    @include u.breakpoint-down(large) {
        width: 95%;
    }

    .headline {
        margin-bottom: u.rem(30);
        display: flex;
        justify-content: space-between;

        .right-side {
            display: flex;

            i {
                margin-left: u.rem(7);
            }
        }
    }

    .poradniki-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: u.rem(15);

        @include u.breakpoint-down(medium) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include u.breakpoint-down(small) {
            grid-template-columns: 1fr;
        }
        

        .ad-cart-container {
            display: flex;
            flex-direction: column;

            .ad-cart-padding {
                padding: u.rem(20) 0;
                
                -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
                -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
                box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
                border-radius: u.rem(12);
                
                .ad-cart {
                    height: u.rem(200);
                    padding: u.rem(100);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                }
    
                .ac1 {
                    background-image: url(/images/section-5/1.webp);
                }
                .ac2 {
                    background-image: url(/images/section-5/2.webp);
                }
                .ac3 {
                    background-image: url(/images/section-5/3.webp);
                }
                .ac4 {
                    background-image: url(/images/section-5/4.webp);
                }
            }    

            // .ad-cart-padding-zero {
            //     -webkit-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
            //     -moz-box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
            //     box-shadow: 0px 0px 4px -2px rgba(66, 68, 90, 1);
            //     border-radius: u.rem(12);
            //     overflow: hidden;

            //     .ad-cart {
            //         height: u.rem(290);
            //         padding: u.rem(100);
            //         background-position: center;
            //         background-size: cover;
            //         background-repeat: no-repeat;
            //     }
            // }
            .gray-text {
                margin-top: u.rem(10);
                font-size: u.rem(11);
                color: var(--gray)
            }

            h3 {
                margin: u.rem(15) 0;
            }
        }
    }
}