@use '../util' as u;

.slider {
    margin-top: u.rem(20);
    width: 80%;
    margin-inline: auto;
    
    @include u.breakpoint-down(large) {
        width: 95%;
    }

    .slides-container {
        height: u.rem(200);
        border-radius: u.rem(25);
        overflow: hidden;
        background-color: aliceblue;

        .slide {
            height: 100%;
            width: 100%;
        }

        .s1 {
            background-image: url(https://source.unsplash.com/random);
        }

        
    }

    .slider-texts {
        margin-top: u.rem(20);
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            font-size: u.rem(13);
            color: var(--gray);
        }
    }
}