:root {
--background-color: white;
--text-color:rgb(26, 26, 26);
--text-color-black:rgb(0,0,0);
--text-color-white:white;
--text-crossed:rgb(112,112,112);
--header-color:rgb(245, 245, 245);
--gray: rgb(77, 77, 77);
--pink: rgb(233, 66, 169);
--light-gray:rgb(221, 221, 221);
--searchbar:rgb(204, 204, 204);

--fast: all .5s ease-in-out;
}