@use '../util' as u;

h1, h2, h3 {
    font-weight: 700;
    line-height: 1.1;
    margin-top: 0;
}

h1 {
    color: var(--white);
    font-size: u.rem(36);
    font-weight: 600;
}

h2 {
    font-size: clamp(u.rem(22), u.rem(14) + 1.5vw, u.rem(36));
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: u.rem(10) 0;
}

p {
    color: var(--gray);
    font-size: u.rem(14);
    font-weight: 300;
    line-height: u.rem(22);
    padding: u.rem(10);
}

a, a:visited, a:active {
    text-decoration: none;
}