@use '../util' as u;

.campus {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: u.rem(50);
    background: var(--white);
    
    h1 {
        color: var(--black);
        font-size: u.rem(36);
        font-weight: 600;
    }

    .row {

         .campus-col {
            flex-basis: 31%;
            border-radius: u.rem(10);
            margin-bottom: u.rem(30);
            position: relative;
            overflow: hidden;
            
            img {
                width: 100%;
                display: block;
            }

            .layer {
                background: transparent;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: .5s;

                h3 {
                    width: 100%;
                    font-weight: 500;
                    color: var(--white);
                    font-size: 26px;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    position: absolute;
                    opacity: 0;
                    transition: .5s;
                }
            }

            .layer:hover {
                background: rgba(226,0,0,0.7);
            }
            .layer:hover h3 {
                bottom: 49%;
                opacity: 1;
            }
            }
            
            
        }
}





