@use '../util' as u;

.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: u.rem(100);
    background: var(--white);

    h1 {
        color: var(--black);
        font-size: u.rem(36);
        font-weight: 600;
    }

    .row {

        .facilities-column {
            flex-basis: 31%;
            border-radius: u.rem(10);
            margin-bottom: 5%;
            text-align: left;

            img {
                width: 100%;
                border-radius: u.rem(10);
            }
        }
    }
}

